The dataset used is:https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqa3VRajBfcmlDTW5hdWYxWS1WU1I2UEEyc2VxZ3xBQ3Jtc0tuSDhlTl9yNnpQbVBWWUdZN3RvVk5wMjZjb0NoVF9BdlFkNV9TRFN1WDdvV2JLbmdYWW02bFVEeTdUNXhGYWh3enVLYzBZMlNxMHlwaFNGdWlqVTVWRWNOMktxalRCZHNwZGM0cU9HeW5Bal9kX1RBUQ&q=https%3A%2F%2Ffiles.grouplens.org%2Fdatasets%2Fmovielens%2Fml-25m.zip&v=eyEabQRBMQA

The project was made with the tutorial from dataquest yt

In [1]:
import pandas as pd
import numpy as np
movies=pd.read_csv(r"D:\ML(imp)\ml-25m\movies.csv")

In [2]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [3]:
import re#regex

def clean_title(title):
    return re.sub("[^a-zA-Z0-9 ]", "" ,title)#Take extra caution by adding a space after 9
#This regex expression cleans the title of brackets and other such possible characters/expressions

In [4]:
movies["clean_title"]=movies["title"].apply(clean_title) #applies clean_title to all the movie titles and creates a new column clean_title

In [5]:
movies

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995
...,...,...,...,...
62418,209157,We (2018),Drama,We 2018
62419,209159,Window of the Soul (2001),Documentary,Window of the Soul 2001
62420,209163,Bad Poems (2018),Comedy|Drama,Bad Poems 2018
62421,209169,A Girl Thing (2001),(no genres listed),A Girl Thing 2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devils Island 1962

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer#Creates a tfidf matrix
vectorizer=TfidfVectorizer(ngram_range=(1,2))
tfidf=vectorizer.fit_transform(movies['clean_title'])

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Assuming 'movies' is your DataFrame and 'clean_title' is a column containing movie titles
vectorizer = TfidfVectorizer(ngram_range=(1, 2))
tfidf = vectorizer.fit_transform(movies['clean_title'])

# Check the shape of the TF-IDF matrix
print("TF-IDF Matrix Shape:", tfidf.shape)

TF-IDF Matrix Shape: (62423, 170073)

In [8]:
from sklearn.metrics.pairwise import cosine_similarity
def search(title):
    title=clean_title(title)
    query_vec=vectorizer.transform([title])
    similarity=cosine_similarity(query_vec,tfidf).flatten()#Find about types of similarity and vectorizer
    indices=np.argpartition(similarity,-5)[-5:]# find working of argpartition
    results=movies.iloc[indices][::-1]
    return results

In [9]:
res=search("When Harry met Sally")
res

,movieId,title,genres,clean_title
48282,176331,Jab Harry met Sejal (2017),Drama|Romance,Jab Harry met Sejal 2017
6359,6482,Dumb and Dumberer: When Harry Met Lloyd (2003),Comedy,Dumb and Dumberer When Harry Met Lloyd 2003
1273,1307,When Harry Met Sally... (1989),Comedy|Romance,When Harry Met Sally 1989
36280,149836,When Harry Tries to Marry (2011),Comedy|Romance,When Harry Tries to Marry 2011
24656,122001,Sally (1929),(no genres listed),Sally 1929

To make the search widget in jupyter we use ipywidgets

In [10]:
import ipywidgets as widgets
from IPython.display import display
movie_input=widgets.Text(
    value=" When Harry Met Sally",
    description="Movie Title:",
    disabled=False
)
movie_list=widgets.Output()
def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title=data["new"]
        if(len(title)>5):
            display(search(title))


movie_input.observe(on_type,names='value')
display(movie_input,movie_list)

Text(value=' When Harry Met Sally', description='Movie Title:')

Output()

In [11]:
ratings=pd.read_csv(r"D:\ML(imp)\ml-25m\ratings.csv")
ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [12]:
movie_id=1
similar_users=ratings[(ratings["movieId"]==movie_id) & (ratings["rating"]>=4)]["userId"].unique()
similar_users

array([     3,      5,      8, ..., 162530, 162533, 162534], dtype=int64)

In [13]:
similar_users_recs=ratings[(ratings["userId"].isin(similar_users))&(ratings["rating"]>=4)]["movieId"]
similar_users_recs

254              1
255             29
256             32
257             50
258            111
             ...
24999332    166643
24999342    171763
24999348    177593
24999351    177765
24999378    198609
Name: movieId, Length: 5101989, dtype: int64

In [14]:
similar_users_recs=similar_users_recs.value_counts()/len(similar_users)

In [15]:
similar_users_recs=similar_users_recs[similar_users_recs>0.15]

In [16]:
similar_users_recs

1        1.000000
318      0.549604
260      0.531518
356      0.517224
296      0.495744
           ...
4022     0.152616
2797     0.152139
50872    0.152059
2987     0.151290
500      0.150415
Name: movieId, Length: 143, dtype: float64

In [17]:
all_users=ratings[(ratings["movieId"].isin(similar_users_recs.index))&(ratings["rating"]>4)]

In [18]:
all_users_recs=all_users["movieId"].value_counts()/len(all_users["userId"].unique())

In [19]:
all_users_recs

318     0.338752
296     0.281789
2571    0.241560
356     0.232881
593     0.223619
          ...
648     0.029144
1393    0.027577
2987    0.025421
2797    0.025401
2355    0.024837
Name: movieId, Length: 143, dtype: float64

In [20]:
rec_perc=pd.concat([similar_users_recs,all_users_recs],axis=1)
rec_perc.columns=['similar','all']

In [21]:
rec_perc

        similar       all
1      1.000000  0.123464
318    0.549604  0.338752
260    0.531518  0.219955
356    0.517224  0.232881
296    0.495744  0.281789
...         ...       ...
4022   0.152616  0.035220
2797   0.152139  0.025401
50872  0.152059  0.038714
2987   0.151290  0.025421
500    0.150415  0.030455

[143 rows x 2 columns]

In [22]:
rec_perc["score"]=rec_perc["similar"]/rec_perc["all"]
rec_perc=rec_perc.sort_values("score",ascending=False)
rec_perc

        similar       all     score
1      1.000000  0.123464  8.099496
2355   0.191095  0.024837  7.693930
648    0.187382  0.029144  6.429582
3114   0.328914  0.053162  6.187062
592    0.200642  0.033142  6.053936
...         ...       ...       ...
58559  0.252327  0.144985  1.740370
858    0.355883  0.207926  1.711583
2959   0.351826  0.214521  1.640055
318    0.549604  0.338752  1.622435
79132  0.209870  0.130052  1.613738

[143 rows x 3 columns]

In [23]:
rec_perc.merge(movies, left_index=True,right_on="movieId")

,similar,all,score,movieId,title,genres,clean_title
0,1.000000,0.123464,8.099496,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
2264,0.191095,0.024837,7.693930,2355,"Bug's Life, A (1998)",Adventure|Animation|Children|Comedy,Bugs Life A 1998
637,0.187382,0.029144,6.429582,648,Mission: Impossible (1996),Action|Adventure|Mystery|Thriller,Mission Impossible 1996
3021,0.328914,0.053162,6.187062,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 2 1999
584,0.200642,0.033142,6.053936,592,Batman (1989),Action|Crime|Thriller,Batman 1989
...,...,...,...,...,...,...,...
12221,0.252327,0.144985,1.740370,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,Dark Knight The 2008
840,0.355883,0.207926,1.711583,858,"Godfather, The (1972)",Crime|Drama,Godfather The 1972
2867,0.351826,0.214521,1.640055,2959,Fight Club (1999),Action|Crime|Drama|Thriller,Fight Club 1999
314,0.549604,0.338752,1.622435,318,"Shawshank Redemption, The (1994)",Crime|Drama,Shawshank Redemption The 1994
14937,0.209870,0.130052,1.613738,79132,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX,Inception 2010

In [24]:
movies

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995
...,...,...,...,...
62418,209157,We (2018),Drama,We 2018
62419,209159,Window of the Soul (2001),Documentary,Window of the Soul 2001
62420,209163,Bad Poems (2018),Comedy|Drama,Bad Poems 2018
62421,209169,A Girl Thing (2001),(no genres listed),A Girl Thing 2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devils Island 1962

In [25]:
def find_similar_m(movie_id):
    similar_users=ratings[(ratings["movieId"]==movie_id) & (ratings["rating"]>=4)]["userId"].unique()
    similar_users_recs=ratings[(ratings["userId"].isin(similar_users))&(ratings["rating"]>=4)]["movieId"]
    
    similar_users_recs=similar_users_recs.value_counts()/len(similar_users)
    similar_users_recs=similar_users_recs[similar_users_recs>0.10]
    
    all_users=ratings[(ratings["movieId"].isin(similar_users_recs.index))&(ratings["rating"]>=4)]
    all_users_recs=all_users["movieId"].value_counts()/len(all_users["userId"].unique())
    
    rec_perc=pd.concat([similar_users_recs,all_users_recs],axis=1)
    rec_perc.columns=['similar','all']
    rec_perc["score"]=rec_perc["similar"]/rec_perc["all"]
    rec_perc=rec_perc.sort_values("score",ascending=False)
    return rec_perc.head(10).merge(movies, left_index=True, right_on="movieId")[["score","title","genres"]]

In [26]:
movie_input_name=widgets.Text(
    value=" When Harry met Sally",
    description="Movie Title:",
    disabled=False
)

recommnedation_list=widgets.Output()

def on_type(data):
    with recommnedation_list:
        recommnedation_list.clear_output()
        title=data["new"]
        if len(title)>5:
            results=search(title)
            movie_id=results.iloc[0]["movieId"]
            display(find_similar_m(movie_id))

movie_input_name.observe(on_type,names="value")

display(movie_input_name,recommnedation_list)

Text(value=' When Harry met Sally', description='Movie Title:')

Output()